nav{
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    

}

.navbar{
    background-color: rgba(50, 10, 100,1) !important;
}

/* .uang{
    top:10vh;
    position: absolute;
    background-color: aliceblue;
    border-radius: 100vw;
    padding: 0.5% 1%;
    left: 2vw;
    z-index: 100;
} */
.judul{
    z-index: 100;
    color: whitesmoke;
    background: rgba(50, 10, 100,0.5);
    /* background: linear-gradient(13deg, rgba(99, 3, 148, 1) 17%, rgba(9, 23, 55, 1) 100%); */
    /* width: 30vw; */
    backdrop-filter: blur(3px);
    top: 1vh;
    padding: 0.7% 2%;
    display: flex;
    justify-content: center;
    gap:10px;
    border-radius: 100vw;
    position: fixed;
}

.poin-nav{
    text-decoration: none;
    display: inline;
    color: black; 
    background-color: rgba(143, 220, 194 , 0.5);
    border-radius: 100vw;
    backdrop-filter: blur(1px);
    padding: 10px 10px;
    min-width: 5vw;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 14pt;
}

.judul .active{
    background-color: green;
}


/* large device */
@media (min-width: 576px) and (max-width: 1024px) {
    .judul{
        padding: 1% 2%;
        top:1.5vh;

    }
    .poin-nav{
        padding: 10px 10px;
        font-size: 13pt;

    }
}

/* small device */
@media (min-width: 380px) and (max-width: 575px) {
    .judul{
        padding: 1.5% 2.5%;
        top: 2vh; 
        gap:5px;

        /* backdrop-filter: blur(0.5px); */

    }
    .poin-nav{
        padding: 7px 5px;
        font-size: 11pt;
        /* backdrop-filter: blur(1px); */

    }
}

/* extra small device */
 @media (max-width: 380px) {
    /* .judul{
        top: 50vh;
        padding: 1.5% 2.5%;
        gap:5px;
    }
    .poin-nav{
        padding: 7px 6px;
        font-size: 10pt;
    }   */
    
    #myNav{
        display: none;
    }
    /* #sec-top{
        padding-top: 0vh;
    
    } */
} 

/* navbar bootstrap */
@media (min-width:381px){
    .navbar{
        display:none;
    }
}


